<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Forix\Unit05\Api\TrainingRepositoryInterface" type="Forix\Unit05\Model\TrainingRepository"/>
    <preference for="Forix\Unit05\Api\Data\TrainingInterface" type="Forix\Unit05\Model\Training"/>
    <preference for="Forix\Unit05\Api\Data\TrainingSearchResultInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Forix\Unit05\Api\Data\CategoryCountryInterface" type="Forix\Unit05\Model\CategoryCountry" />
    <type name="Magento\Catalog\Api\CategoryRepositoryInterface">
        <plugin name="categoryCountriesExtension" type="Forix\Unit05\Plugin\Category\Repository"/>
    </type>
</config>
